body {
    padding-top: 70px /*El padding es necesario para que funcione el .navbar-fixed-top*/
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: pre-wrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
margin-bottom: 0px;

}

.item-toolbar {
    margin: 10px;
    text-align: center;
}

.btn {
    width: 100px;
}

.precio {
    font: 400 19px/27px "Open Sans", "Roboto", sans-serif;
    color: #424242;
}

.notification {
    background-color: #f3d1d1;
    vertical-align: middle;
    height: 30px;
    padding: 5px;
}

.requerido{
    color:red;
    margin-left:3px;

}

.form-control{
    margin-bottom:10px;

}
.g-recaptcha{
    margin-bottom: 300px;
     margin-left: 300px;

}

#btnsContacto{
    margin-bottom:60px;

}