<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--Custom Sections : -->
  <configSections>
    <sectionGroup name="ecommerce">
      <section name="core" type="TFI.CORE.Helpers.ConfigSection" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <connectionStrings configSource="Web.ConnectionStrings.config" />

  <ecommerce>
    <core>
      <site cuit="20112223331" />
    </core>
  </ecommerce>
  

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>