<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ecommerce">
      <section name="core" type="TFI.CORE.Helpers.ConfigSection" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <ecommerce>
    <core>
      <site cuit="20112223331" />
    </core>
  </ecommerce>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<connectionStrings>
    <add name="DataContext" connectionString="Data Source=JAVI-PC\SQLEXPRESS;Initial Catalog=ECommerce;Integrated Security=SSPI" />
  </connectionStrings>-->
  <connectionStrings configSource ="Web.ConnectionStrings.config" />
</configuration>
