@font-face {
    font-family: 'bungee';
    src: url('/fonts/bungee.ttf'); /*Custom Font*/
}

body {
    padding-top: 70px
}

.container {
    font-family: 'Segoe UI';
    color: black;
}

.navbar {
    background-color: #808080;
    border: transparent;
}

/*TODO: Cambiar a gusto*/

.navbar-brand {
    margin-top: 2px;
    padding-top: 5px;
    font-family: 'bungee';
}

#brandName {
    font-size: 20px;
}

#brandSubName {
    font-size: 10px;
    font-weight: bold;
    font-weight: 500;
    padding-left: 20px;
}

.navbar a {
    color: white;
}

    .navbar a:focus, a:hover {
        color: black;
    }
