<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioPago" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/SWTarjeta.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicioPago" contract="SWTarjeta.IServicioPago"
                name="BasicHttpBinding_IServicioPago" />
        </client>
    </system.serviceModel>
</configuration>